<div class="container">
  <div class="panel panel-default">
    <h1>編集</h1>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label class="control-label"> 契約日</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <label class="control-label">契約解除予定日</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <label class="control-label">サービス名</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <label class="control-label">金額</label>
          <input class="form-control" type="text">
        </div>
        <a class="btn btn-primary btn-lg" href=agreements/new role="button">編集する</a>
      </form>
    </div>
  </div>
</div>
